<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>Add a service name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.serviceName">
    <div class="alert" *ngIf=" data.serviceNameError != undefined">{{data.serviceNameError}} </div>
  </mat-form-field>
  <p>Add a service price</p>
  <mat-form-field>
    <input  placeholder="Only numbers"  matInput type="number"  [(ngModel)]="data.servicePrice">
    <div class="alert" *ngIf=" data.servicePriceError != undefined">{{data.servicePriceError}} </div>
  </mat-form-field>
  <p>Add a service duration</p>
  <mat-form-field>
    <input placeholder="Only numbers"  matInput type="number" [(ngModel)]="data.serviceDuration">
    <div class="alert" *ngIf=" data.serviceDurationError != undefined">{{data.serviceDurationError}} </div>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
