<div class="example-container">
  <mat-form-field>
    <p>First name</p>
    <input matInput [(ngModel)]="firstName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <p>Last name</p>
    <input matInput [(ngModel)]="lastName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <p>Username</p>
    <input matInput [(ngModel)]="username">
  </mat-form-field>
  <br>
  <mat-form-field>
    <p>Password</p>
    <input matInput [(ngModel)]="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="onSubmit()" color="primary">Register</button>
</div>
