<mat-card>
  <mat-card-title> Name: {{client?.clientName}}</mat-card-title>
  <mat-card-subtitle> Telephone number:{{client?.telephoneNumber}}</mat-card-subtitle>
  <mat-card-subtitle> Email:{{client?.email}}</mat-card-subtitle>
  <mat-card-content> Description: {{client?.description}}</mat-card-content>
  <mat-card-actions>
    <confirmationDeleteComponent (yes)="deleteClient(client.id,$event)"></confirmationDeleteComponent>
    <clientAddDialog (succes)="refresh()" [addoredit]="true" [idClient]="client?.id"
    ></clientAddDialog>
  </mat-card-actions>
</mat-card>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="50%">
    History
    <mat-card *ngFor="let appointment of history">
      <mat-card-title>Employee: {{appointment.employee.name}}</mat-card-title>
      <mat-card-subtitle>{{appointment.startTime}}</mat-card-subtitle>
      <mat-card-subtitle>{{appointment.endTime}}</mat-card-subtitle>
      <mat-card-content *ngFor="let service of appointment.services">
        Service: {{service.name}}
        Duration:{{service.duration}}
        Price:{{service.price}}</mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50%">Future appointments
    <mat-card *ngFor="let appointment of future">
      <mat-card-title>Employee: {{appointment.employee.name}}</mat-card-title>
      <mat-card-subtitle>{{appointment.startTime}}</mat-card-subtitle>
      <mat-card-subtitle>{{appointment.endTime}}</mat-card-subtitle>
      <mat-card-content *ngFor="let service of appointment.services">
        Service: {{service.name}}
        Duration:{{service.duration}}
        Price:{{service.price}}</mat-card-content>
    </mat-card>
  </div>
</div>
<mat-card *ngFor="let monthReport of monthReports">Monthly reports

  <mat-card-content>
    Month: {{monthReport.month}}
    Sum:{{monthReport.sum}}
  </mat-card-content>
</mat-card>
