<div *ngIf="appear">
  <div mat-dialog-content>
    <p>Add a client</p>
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(ngModel)]="selectedClient">
        <mat-option *ngFor="let client of clients" [value]="client">{{client.clientName}}</mat-option>
      </mat-select>
      <div class="alert" *ngIf="clientError != undefined">{{clientError}} </div>
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Add a employee</p>
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(ngModel)]="selectedEmployee">
        <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.name}}</mat-option>

      </mat-select>
      <div class="alert" *ngIf="employeeError != undefined">{{employeeError}} </div>
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Add a service</p>
    <mat-form-field (click)="getServices(selectedEmployee.id)" multiple>
      <mat-label>Select an option</mat-label>
      <mat-select [(ngModel)]="selectedServices">
        <mat-option *ngFor="let service of services" [value]="service">{{service.name}}</mat-option>

      </mat-select>
      <div class="alert" *ngIf="serviceError != undefined">{{serviceError}} </div>
    </mat-form-field>


  </div>
  <button mat-raised-button (click)="upsert(selectedClient,selectedEmployee,selectedServices)">Update appointement
  </button>
</div>
