<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>Add a employee name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.employeeName" required>
    <div class="alert" *ngIf=" data.nameError != undefined">{{data.nameError}} </div>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Add a telephone number</p>
  <mat-form-field>
    <input matInput placeholder="xxx-xxx-xxxx" [(ngModel)]="data.telephoneNumber" required>
    <div class="alert" *ngIf=" data.telephoneNumberError != undefined">{{data.telephoneNumberError}} </div>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(ngModel)]="data.category">
      <mat-option *ngFor="let categorie of categories" [value]="categorie">{{categorie.name}}</mat-option>
    </mat-select>
    <div class="alert" *ngIf=" data.categoryError != undefined">{{data.categoryError}} </div>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
