<div class="center-div">
  <mat-spinner *ngIf="!clients"></mat-spinner>
</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Find a client" aria-label="Number" matInput #searchTerm [matAutocomplete]="auto"
           (keyup)="search(searchTerm.value)" (keyup.enter)="goToClient(searchTerm.value)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<mat-list *ngFor="let client of clients">
  <mat-list-item> Name:{{client?.clientName}}  Telefon : {{client?.telephoneNumber}}
    Email: {{client?.email}}
    <button class="btn1" mat-raised-button routerLink="/detail/{{client?.id}}">Client details</button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<clientAddDialog (succes)="refresh()" [addoredit]="false"></clientAddDialog>


