<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>Choose a new role</p>
  <mat-form-field>
    <input matInput placeholder="Admin or Employee" [(ngModel)]="data.role" required>
    <div class="alert" *ngIf=" data.error != undefined">{{data.error}} </div>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
