<div class="center-div">
  <mat-spinner *ngIf="!users"></mat-spinner>
</div>
<mat-list *ngFor="let user of users" >
  <mat-list-item  (click)="selectUser(user)" > First Name:{{user?.firstName}} Last Name: {{user.lastName}} Role:{{user.role}}<br><br>
    <button class="btn1" mat-raised-button (click)="openDialog()">Change role</button>
    <confirmationDeleteComponent *ngIf="roleCurrentUser == '0'" (yes)="deleteUser(user.id,$event)"></confirmationDeleteComponent>
  </mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
