<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="50px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="50%">
    <h1 mat-dialog-title>Hi {{data.name}}</h1>
    <div mat-dialog-content>
<!--      <div mat-dialog-content>-->
        <p>Add a client</p>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select tabindex="1" [(ngModel)]="data.client">
            <mat-option *ngFor="let client of clients" [value]="client">{{client.clientName}}</mat-option>
          </mat-select>
          <div class="alert" *ngIf=" data.clientError != undefined">{{data.clientError}} </div>
        </mat-form-field>
<!--      </div>-->
<!--      <div mat-dialog-content>-->
        <p>Add a employee</p>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select [(ngModel)]="data.employee">
            <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.name}}</mat-option>
          </mat-select>
          <div class="alert" *ngIf=" data.employeeError != undefined">{{data.employeeError}} </div>
        </mat-form-field>
<!--      </div>-->
<!--      <div mat-dialog-content>-->
        <p>Add a service</p>
        <mat-form-field (click)="getServices(data.employee.id)">
          <mat-label>Select an option</mat-label>
          <mat-select [(ngModel)]="data.service" multiple>
            <mat-option *ngFor="let service of services" [value]="service">{{service.name}}</mat-option>
          </mat-select>
          <div class="alert" *ngIf=" data.serviceError != undefined">{{data.serviceError}} </div>
        </mat-form-field>
<!--      </div>-->
<!--      <div mat-dialog-content>-->
        <p>Add a start time</p>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select [(ngModel)]="data.startTime">
            <mat-option *ngFor="let time of timeTabel" [value]="time">{{time}}</mat-option>
          </mat-select>
          <div class="alert" *ngIf=" data.startTimeError != undefined">{{data.startTimeError}} </div>
        </mat-form-field>
<!--      </div>-->
<!--      <div mat-dialog-content>-->
        <p>Add a end time</p>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select [(ngModel)]="data.endTime">
            <mat-option *ngFor="let time of timeTabel" [value]="time">{{time}}</mat-option>
          </mat-select>
          <div class="alert" *ngIf=" data.endTimeError!= undefined">{{data.endTimeError}} </div>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
      </div>
    </div>

  <div class="item item-1" fxFlex="50%">
    <div mat-dialog-content>
<!--      <div class="center-div">-->
        <mat-card *ngFor=" let appointment of appointments">Appointements
          <mat-card-content>Employee: {{appointment.employee.name}}
            <br>
            Client:{{appointment.client.clientName}}
            <br>
            <span *ngFor="let service of appointment.services">
            Service: {{service.name}}
              <br>
            </span>
            <br>
            Start time: {{appointment.startTime}}
            <br>
            End time:{{appointment.endTime}}
            <br>
            <i class="material-icons" (click)="selectAppointment(appointment)">edit</i>
            <confirmationDeleteComponent (click)="selectAppointment(appointment) "
                                         (yes)="deleteAppointment(selectedAppointment.id,$event)"></confirmationDeleteComponent>
          </mat-card-content>
        </mat-card>
        <br><br><br>
        <app-edit-appointment [clientError]="clientError" [employeeError]="employeeError" [serviceError]="serviceError"
                              [appear]="appear"
                              (sendAppointment)="upsertAppointment(selectedAppointment,$event)"></app-edit-appointment>
        <div class="alert" *ngIf="errors"> {{clientError}} {{employeeError}} {{serviceError}} </div>

    </div>
  </div>
</div>
