<div class="center-div">
  <mat-spinner *ngIf="!categories"></mat-spinner>
</div>


<mat-accordion *ngFor="let categorie of categories">

  <mat-expansion-panel>
    <mat-expansion-panel-header (click)="getServices(categorie.id)">
      <mat-panel-title>
        {{categorie.name}}
      </mat-panel-title>
      <mat-panel-description class="panelDescription">
        <confirmationDeleteComponent (yes)="deleteCategory(categorie.id,$event)"></confirmationDeleteComponent>
        <dialog-edit [addOrEdit]="true" (succes)="refresh()" [categoryId]="categorie.id"></dialog-edit>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-expansion-panel *ngFor="let service of categorie.services">
      <mat-expansion-panel-header>
        {{service.name}}
        <confirmationDeleteComponent
          (yes)="deleteService(service.id,categorie.id,$event)"></confirmationDeleteComponent>
        <dialog-addService (succes)="refreshService(categorie.id)" [addOrEdit]="true"
                           [serviceId]="service.id" [categoryId]="categorie.id">Edit service
        </dialog-addService>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        Price:{{service.price}} Duration:{{service.duration}}
      </ng-template>
    </mat-expansion-panel>
    <br>

    <dialog-addService [addOrEdit]="false" (succes)="refreshService(categorie.id)" [serviceId]="0"
                       [categoryId]="categorie.id"></dialog-addService>
  </mat-expansion-panel>


</mat-accordion>
<br><br>

<dialog-edit [addOrEdit]="false" (succes)="refresh()"></dialog-edit>
