<div class="center-div">
  <mat-spinner *ngIf="!employees"></mat-spinner>
</div>
<mat-list *ngFor="let employee of employees">
  <mat-list-item> Name:{{employee?.name}} Category: {{employee?.category.name}}<br><br>
    <button class="btn1" mat-raised-button routerLink="/detailEmployee/{{employee?.id}}">Employee details</button>
  </mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
<employeeAddDialog *ngIf="role == '0'"(succes)="refresh()" [addoredit]="false"></employeeAddDialog>
