<div style="text-align:center" xmlns="http://www.w3.org/1999/html">
  <mat-toolbar color="primary" class="navbar1">
    <div>
      <button mat-raised-button color="accent" routerLink="/appointment" routerLinkActive="active">Appointments</button>
    </div>
    <div>
      <button mat-raised-button color="accent" routerLink="/client" routerLinkActive="active">Clients</button>

      <button mat-raised-button color="accent" routerLink="/employee" routerLinkActive="active">Employees</button>

      <button mat-raised-button color="accent" routerLink="/category" routerLinkActive="active">Categories</button>
      <button mat-raised-button color="accent" routerLink="/user" routerLinkActive="active">Users</button>
      <button mat-raised-button color="accent" (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
