

<div class="loginForm">
<mat-card class="example-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="example-full-width">

      <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>
    <button mat-raised-button routerLink="/register" color="primary">Register</button>
    <div class="alert" *ngIf=" error != undefined">{{error}}</div>
  </mat-card-actions>
</mat-card>
</div>


