<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>Add a category name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.categoryName" required>
    <div class="alert" *ngIf=" data.categoryNameError != undefined">{{data.categoryNameError}} </div>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
