<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>Add a client name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.clientName" required>
    <br>
    <div class="alert" *ngIf=" data.nameError != undefined">{{data.nameError}} </div>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Add a telephone number</p>
  <mat-form-field>
    <input matInput placeholder="xxx-xxx-xxxx" [(ngModel)]="data.telephoneNumber" required>
    <div class="alert" *ngIf=" data.telephoneNumberError != undefined">{{data.telephoneNumberError}} </div>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Add an email</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.email" required>
    <div class="alert" *ngIf=" data.emailError != undefined">{{data.emailError}} </div>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Add a description</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
